<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bracket-web">
    <meta name="description"
        content="Solinom — Luxury Hotel Template is perfect if you like a clean, modern and creative template. It’s not WordPress theme. This template is ideal for hotel, hostel, resort, beach, boutique, campground, countryside, mountain, summer resort, apartments, restaurant, pub, spa wellness, wedding center, hotel B&B, vacation room/apartment rental etc, and those who need an easy, attractive and effective way to share their work with clients. If you would like to create a page that has a strong first impression and intrigues everyone, Solinom template is the tool you need. Let it impress you with the live preview page. It’s super easy to customize so it’ll suit your needs.">
    <title>Home Three || Solinom || Luxury Hotel Template</title>

    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/vendors/animate/animate.min.css">
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="/assets/vendors/jarallax/jarallax.css">
    <link rel="stylesheet" href="/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
    <link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/assets/vendors/nouislider/nouislider.pips.css">
    <link rel="stylesheet" href="/assets/vendors/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" href="/assets/vendors/solinom-icons/style.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/vendors/slick-carousel/slick.css">
    <link rel="stylesheet" href="/assets/vendors/flipster/flipster.css">

    <!-- template styles -->
    <link rel="stylesheet" href="/assets/css/solinom.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-+iPTXT5OCHn6E9FkfZJlVRGQ6Z9O+vbEYf+iQmPCBlzPvlRYr2fQkMKbbcbgqU9BRzwHt3eYDBKXnH+bxh1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link rel="stylesheet" href="style.css">

</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(/assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <!-- Top Bar Three -->
        <div class="topbar-three">
            <div class="container-fluid">
                <div class="topbar-three__inner">
                    <div class="topbar-three__inner__left">
                        <ul class="list-unstyled topbar-three__info">
                            <li class="topbar-three__info__item">
                                <div class="topbar-three__info__icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>
                                <p class="topbar-three__info__location">30 Commercial Road Fratton, Australia </p>
                            </li>
                            <li class="topbar-three__info__item">
                                <div class="topbar-three__info__icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>
                                <a href="mailto:motabbirdev@gmail.com"
                                    class="topbar-three__info__contact">needhelp@company.com</a>
                            </li>
                            <li class="topbar-three__info__item">
                                <div class="topbar-three__info__icon">
                                     <i class="fa-solid fa-phone"></i>
                                </div>
                                <a href="tel:+92-8800-6000" class="topbar-three__info__contact">+92 (8800)-6000</a>
                            </li>
                        </ul>
                    </div>
                    <div class="topbar-three__inner__right">
                        <ul class="list-unstyled topbar-three__item">
                            <!-- <li><a href="blog-details.html" class="topbar-three__item__text">Explore Solinom</a></li> -->
                            <!-- <li><a href="faq.html" class="topbar-three__item__text">FAQs</a></li> -->
                            <li><a href="/about" class="topbar-three__item__text">About</a></li>
                        </ul>
                        <div class="topbar-three__social">
                            <a href="https://facebook.com"> <i class="icon-facebook-f" aria-hidden="true"></i> <span
                                    class="sr-only">Facebook</span></a>
                            <a href="https://twitter.com"> <i class="icon-x-twitter" aria-hidden="true"></i> <span
                                    class="sr-only">Twitter</span></a>
                            <a href="https://pinterest.com"> <i class="icon-pinterest-p" aria-hidden="true"></i> <span
                                    class="sr-only">Pinterest</span></a>
                            <a href="https://youtube.com"> <i class="icon-youtube" aria-hidden="true"></i> <span
                                    class="sr-only">youtube</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="main-header main-header--three sticky-header sticky-header--normal">
            <div class="container-fluid">
                <div class="main-header__inner">
                    <div class="main-header__logo">
                        <a href="/">
                            <img src="/assets/images/logo.png" alt="Solinom HTML" width="100">
                        </a>
                    </div>

                    <nav class="main-header__nav main-menu">
                        <ul class="main-menu__list">
                            <li class="dropdown megamenu">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/room">Rooms</a>
                            </li>
                            <li>
                                <a href="/restaurant">Restaurant</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>

                            <% if (!name) { %>
                                <!-- Agar user login nahi hai -->
                                <li>
                                    <a href="/signup">SignUp/Login</a>
                                </li>
                                <% } else { %>
                                    <!-- User login hai, naam aur dropdown dikhao -->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <%= name %> <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">

                                            <% if (role==='user' ) { %>
                                                <li><a href="/dashboard">Dashboard</a></li>
                                                <% } %>

                                                    <li>

                                                        <a href="/logout">
                                                            Logout
                                                        </a>
                                                    </li>
                                        </ul>
                                    </li>
                                    <% } %>
                        </ul>

                    </nav>
                    <div class="main-header__right" style="background-color: #D4AF37;">
                        <div class="main-header__right__call">
                            <div class="main-header__right__call__icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="main-header__right__call__content">
                                <span class="main-header__right__call__subtitle">Call Anytime</span>
                                <a href="tel:303-555-0105" class="main-header__right__call__title">(303) 555-0105</a>
                            </div>
                        </div>
                        <a href="/contact" class="solinom-btn main-header__btn">Book Hotel</a>

                        <div class="main-header__info">
                            <!-- <a href="cart.html" class="main-header__info__item"> <i class="icon-trolley-cart_4175270" aria-hidden="true"></i> <span class="sr-only">Cart</span> </a> -->
                            <a href="#" class="search-toggler main-header__info__item"><i aria-hidden="true" class="fa-solid fa-magnifying-glass"></i><span class="sr-only">Search</span> </a>
                        </div>
                        <div class="mobile-nav__btn mobile-nav__toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>